:root {
    --purple: #4a077a;
    --lightpurple: #f1d6f6;
}

a {
    color: inherit;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: var(--purple);
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

.title-logo {
    height: 100px;
    filter: invert();
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.registration {
    font-size: 1.5em;
    background-color: var(--lightpurple);
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
}

.registration button {
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1em;
    margin: 10px;
    border-radius: 5px;
}

.button-active {
    background-color: var(--purple);
    cursor: pointer;
}

.button-inactive{
    background-color: #c7c7c7;
}

.socials-header {
    font-size: 1.8em;
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--purple);
}

.instagram-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 15px;
}

footer {
    background-color: var(--purple);
    color: white;
    padding: 15px;
    text-align: center;
}